nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  background: blue;
  color: yellow;
}

.nav-links {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link-style {
  color: yellow;
}
